@import "tailwindcss";

html {box-sizing: border-box;}
html, body {height: 100%; margin: 0;}

#root {
    padding: 0;
    padding-top: 44px;
    width: 100%;
    height: 100%;
}

#titlebar {
    display: block;
    position: fixed;
    height: 44px;
    width: 100%;
    z-index: 100;
}