@import "tailwindcss";

html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}

#root {
    padding: 0;
    width: 100%;
    height: calc(100% - 44px);
}

#titlebar {
    display: block;
    position: fixed;
    height: 44px;
    width: 100%;
    z-index: 100;
}